$primary: #860c16;
$primary-light: #6b7280;
$secondary: #f3f4f6;
$default: #1c1c1c;
$white: #ffffff;
$light-gray: #f3f4f6;
$black: #111827;
$blue: #0b67e9;
$small: 0.75rem;
$medium: 0.875rem;
$large: 1rem;
$xlarge: 1.25rem;
$font-primary: "Inter", sans-serif;
$font-secondary: "Cal Sans", sans-serif;
$gradient: linear-gradient(
  90deg,
  rgba(147, 24, 28, 1) 0%,
  rgba(80, 5, 11, 1) 100%
);
