@use "sass:color";
@use "../abstracts/variables";
@use "../abstracts/mixins";
.filters {
  margin: 0 -2rem;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid color.adjust(variables.$black, $lightness: 75%);
  &-search {
    display: flex;
    position: relative;
    width: 360px;
    flex: 0 0 auto;
    & .form-control {
      padding-left: 2.5rem;
      &:focus {
        border-color: color.adjust(variables.$black, $lightness: 75%);
        box-shadow: none;
      }
    }
    & .btn {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50px;
      background: none;
      border: none;
      font-size: 1.25rem;
      padding: 0;
      text-align: center;
      opacity: 0.5;
      user-select: none;
    }
  }
}

.table-view {
  & .table {
    & thead {
      background-color: #e5e7eb;
      & th {
        background: none;
        font-size: variables.$medium;
        font-weight: 500;
        color: #6b7280;
        white-space: nowrap;
        padding: 0.75rem 1rem;
        border-color: color.adjust(variables.$black, $lightness: 75%);
      }
    }
    & tbody {
      & td {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        border-color: color.adjust(variables.$black, $lightness: 75%);
      }
    }
    &-curated {
      // & .curated-name {
      //   max-width: 350px;
      // }
      & .curated-title {
        padding-right: 2rem;
        & span {
          max-width: 250px;
        }
      }
      & tr {
        & .btn-edit {
          opacity: 0;
          visibility: hidden;
          transition-duration: 0.3s;
        }
        &:hover {
          & .btn-edit {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    .align-middle {
      & td {
        vertical-align: middle;
      }
    }
    &.last tbody tr:last-child td {
      border: none;
    }
    &.v-align-middle td {
      vertical-align: middle;
    }
  }
  & .text-desc {
    max-width: 250px;
    text-wrap: wrap;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
  }
}

.entity-row {
  & td {
    border: none;
  }
}

.card-view {
  &-header {
    position: sticky;
    top: 60px;
    z-index: 2;
    background: #f4f6f8;
    margin: 0 -1.5rem 0;
    padding: 1rem 1.5rem 0;
  }
  &-list {
  }
  &-item {
    &:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: 0;
    }
  }
}
